{% load staticfiles %}
{% block top_html %}

<html>
  {% endblock %}
    <head>
      <title>Learn Chinese</title>
      {% block head_css %}
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
      {% endblock %}
      {% block head_js %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
        <script type="text/javascript" src="{% static "js/script.js" %}"></script>
      {% endblock %}
    </head>

  <body>
    <div class="wrapper">
      <div class="navigation">
          <a href="{% url 'index' %}">Home</a>
          <a href="{% url 'session' %}">Review</a>
          <a href="{% url 'characters' %}">Characters</a>
          <a href="{% url 'logout' %}">Logout</a>
      </div>
      {% block content %}
        {% load static %}
      {% endblock %}
    </div>
    <footer class="footer"></footer>
    {% block bottom_js %}
      {% load static %}
    {% endblock %}
  </body>
</html>
