{% extends "wanikani/base.html" %}
{% load staticfiles %}

{% block head %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="container">
    <ul>
      <li>Character: {{ character.character }}</li>
      <li>Frequency: {{ character.frequency }}</li>
      <li>Pinyin: {{ character.pinyin }}</li>
      <li>Definition: {{ character.definitions }}</li>
      <li>HSK Level: {{ character.hsk_level }}</li>
      <li>User Level: {{ character.user_level }}</li>
    </ul>
  </div>
{% endblock %}

{% block bottom %}
  {{ block.super }}
{% endblock %}
