{% extends "wanikani/base.html" %}
{% load staticfiles %}

{% block head %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="container">
    Level: {{ user.level }}
    {% for character in characters %}
      <div class="character-container">
        <div class="character">
          <a href="{% url 'character' character.character %}">{{ character.character }}</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block bottom %}
  {{ block.super }}
{% endblock %}
