{% load staticfiles %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
  </head>

  <body>
    <div class="container">
      {% for character in characters %}
      <div class="character-container">
          <div class="character">{{ character.character }}</div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>