{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% block top_html %}

<html>
  {% endblock %}
    <head>
      <title>Learn Chinese</title>
      {% block head_css %}
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
      {% endblock %}
      {% block head_js %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
      {% endblock %}
    </head>

  <body>
    <div id="wanikani-app"></div>
    {% render_bundle 'main' %}
    {% block bottom_js %}
      {% load static %}
    {% endblock %}
  </body>
</html>
